// -------------------------
// Drawer
// -------------------------

body.drawer-open {
  overflow: hidden;
}

.drawer {
  position: fixed;
  z-index: $zindex-drawer;
  left: 0;
  max-width: 260px;
  width: 100%;
  height: 100vh;
  background: $drawer-bg;
  border: 1px solid $drawer-border-color;
  pointer-events: none;
  -webkit-overflow-scrolling: touch;
  transform: translateX(-100%);
  transition: all $transition-duration-base $transition-timing-function-base;

  // For a drawer that slides out from the left side
  &--left {
    left: 0;
    right: auto;
    transform: translateX(-100%);
  }

  &.is-visible {
    pointer-events: auto;
    transform: translateX(0%);
    transition: all $transition-duration-base $transition-timing-function-base;
  }

  .drawer__inner {
    padding: 0;
    height: 100%;
  }

  .drawer__header {
    position: relative;
    margin-bottom: 20px;
    padding: 30px 0 $headings-margin-bottom;
    border-bottom: 2px solid $drawer-border-color;

    .drawer__close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .drawer__header-title {
    margin: 0;
    padding: 0;
    font-size: $drawer-header-font-size;
  }

  .drawer__body {
    height: 100%;

    &--flush {
      margin-left: -#{$drawer-padding-horizontal};
      margin-right: -#{$drawer-padding-horizontal};
    }
  }

  .drawer__body-contents {
    height: 100%;
    overflow-y: auto;

    .drawer__body--flush & {
      padding-left: $drawer-padding-horizontal;
      padding-right: $drawer-padding-horizontal;
    }
  }

  .drawer__footer {
    margin-top: 20px;
    padding: $headings-margin-bottom 0 0;
    border-top: 2px solid $drawer-border-color;
  }

  &.collection-filters {
    .drawer__body-contents {
      background-color: $white;
    }
  }
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-drawer-backdrop;
  background-color: $drawer-backdrop-color;
  opacity: 0;
  pointer-events: none;
  transition: all $transition-duration-slide $transition-timing-function-slide-out;

  &.is-visible {
    opacity: $drawer-backdrop-opacity;
    pointer-events: auto;
    transition: all $transition-duration-slide $transition-timing-function-slide-in;
  }
}

.mobile-menu-block--primary,
.mobile-menu-block--secondary {
  padding: 20px;
}
.mobile-menu-block--secondary{
  margin-bottom: 150px;
}
.mobile-menu-block--primary {
  background-color: $white;
  padding-top: 25px;
}

.expandable-list__header .expandable-list__item {
  padding: 0;
}

.expandable-list__header-title,
.expandable-list__item-title {
  // text-decoration: none;

  &:hover,
  &:focus {
    color: $purple;
    text-decoration: underline !important;
  }
}

.drawer__body-contents {
  .mobile-menu-block + .mobile-menu-block {
    margin-top: 0;
  }
}
