#video-card{
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 50px 0;
    margin: 50px auto;
    h4{
        font-size: 20px !important;
        width: 90%;
        margin: 0 auto;
    }
    h4 a{
        font-size: 20px !important;
    }
}

.video-card-videoContainer{
    padding: 35px 0 50px;
    aspect-ratio: 4 / 3;
}
.appButton{
    height: 100px;
}

