.color-black{
  color: $black;
}

.color-white{
  color: $white;
}

.color-gr1{
  color: $gr1;
}

.color-gr2{
  color: $gr2;
}

.color-gr3{
  color: $gr3;
}

.color-gr4{
  color: $gr4;
}

.color-gr5{
  color: $gr5;
}

.color-gr6{
  color: $gr6;
}

.color-blue{
  color: $blue;
}

.color-red{
  color: $red;
}

.bg-black{
  background-color: $black;
}

.bg-white{
  background-color: $white;
}

.bg-gr1{
  background-color: $gr1;
}

.bg-gr2{
  background-color: $gr2;
}

.bg-gr3{
  background-color: $gr3;
}

.bg-gr4{
  background-color: $gr4;
}

.bg-gr5{
  background-color: $gr5;
}

.bg-gr6{
  background-color: $gr6;
}

.bg-blue{
  background-color: $blue;
}

.bg-red{
  background-color: $red;
}