
.list-collection__collection-title {
  margin-bottom: 20px;
}

.list-collection__collection-description {
  margin-bottom: 30px;
}

.list-collection__tout-row {
  margin-bottom: 65px;
}

.list-collection__collection-products-col {
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 0;
  }
}

.list-collection__collection-row {
  margin-bottom: 75px;
}

.list-collection__breadcrumbs {
  margin-bottom: 70px;
  @include media-breakpoint-down('sm') {
    margin-bottom: 40px;
  }
}

.list-collection__tout-col {
  @include media-breakpoint-down('sm') {
   padding-left: 0;
   padding-right: 0;
  }
}
