.affirm-module {
  padding: 65px 0;
  background-color: $gr1;
  text-align: center;
  font-weight: $font-weight-normal;
  font-family: $font-family-sans-serif;
}

.affirm-icon-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  @include media-breakpoint-down('md') {
    margin-bottom: 20px;
    padding-right: 20px;
  }

  .affirm-logo {
    max-height: 58px;
    margin-top: -12px;
    max-width: 45%;
  }

  .icon-logo {
    width: 100%;
    height: auto;
    max-width: 170px;
    fill: $black;

    @include media-breakpoint-down('md') {
      max-height: 35px;
    }
  }

  .icon-plus {
    min-width: 20px;
    height: 20px;
    margin-right: 30px;

    @include media-breakpoint-down('sm') {
      margin-right: 10px;
    }
  }
}

.affirm-module__apr-text {
  font-size: 34px;
  color: $black;

  @include media-breakpoint-down('md') {
    font-size: 24px;
  }
}

.affirm-module__description {
  font-size: 16px;
  margin-top: 20px;

  @include media-breakpoint-down('md') {
    font-size: 18px;
  }
}

.affirm-module__price-grid {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  @include media-breakpoint-down('sm') {
    flex-direction: column;
    margin-top: 20px;
  }
}

.affirm-module__price-block {
  padding: 20px;
  position: relative;


  .affirm-module__divider {
    position: absolute;
    height: 100%;
    width: 110px;
    border-left: 1px solid $blue;
    top: 0;
    left: 0;

    @include media-breakpoint-down('sm') {
      & {
        border-left: 0;
        border-top: 1px solid $blue;
        top: unset;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.affirm-module__price-wrapper {
  font-size: 22px;
  display: block;
  white-space: nowrap;
}