// -------------------------
// AJAX Cart
// -------------------------

body.ajax-cart-open {
  overflow: hidden;
}

.ajax-cart-container {
  position: fixed;
  z-index: $zindex-ajax-cart;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  background: $ajax-cart-bg;
  border: 1px solid $ajax-cart-border-color;
  pointer-events: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(100%);
  transition: all $transition-duration-slide $transition-timing-function-slide-out;

  &.is-open {
    pointer-events: auto;
    transform: translateX(0%);
    transition: all $transition-duration-slide $transition-timing-function-slide-in;
  }

  &.is-empty .ajax-cart__footer {
    display: none;
    pointer-events: none;
  }

  // Ensure that the cart is full width on screen sizes below this
  @include media-breakpoint-up('sm') {
    max-width: $ajax-cart-width;
  }
}

// Ensure that the cart takes up the entire screen at all times
.ajax-cart-container,
.ajax-cart,
.ajax-cart-form {
  min-height: 100%;
}

.ajax-cart {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: $ajax-cart-bg;
}

.ajax-cart-form {
  display: flex;
  flex-direction: column;
}

.ajax-cart__header {
  padding-bottom: 0;
  margin: $ajax-cart-header-margin;
  padding-bottom: $ajax-cart-header-padding-bottom;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  align-items: center;

  @include media-breakpoint-down('md') {
    margin-left: 20px;
    margin-right: 20px;
  }

  .ajax-cart__badge-count {
    margin-right: 5px;
    margin-left: 20px;
  }

  .ajax-cart__title {
    flex-grow: 2;
    text-decoration: none;
    margin: 0;
  }
}

.ajax-cart__body {
  margin: $ajax-cart-body-margin;
  position: relative;

  @include media-breakpoint-down('md') {
    margin-left: 20px;
    margin-right: 20px;
  }

  // Ajax cart loading shield
  &:before {
    content: '';
    @include stretch-within;
    z-index: 1;
    background: transparentize($ajax-cart-bg, 0.25);
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-duration-base $transition-timing-function-base;
  }

  .ajax-cart-container.lock-ui &:before {
    opacity: 1;
    pointer-events: auto;
    cursor: $cursor-disabled;
  }
}

.ajax-cart__footer {
  padding-top: 0;
  margin: $ajax-cart-footer-margin;
  display: flex;
  flex-direction: column;
  height: 100%;

  @include media-breakpoint-down('md') {
    margin-left: 20px;
    margin-right: 20px;
  }

  .ajax-cart__footer-top {
    border-top: 1px solid $gr2;
    margin-bottom: auto;
  }
}
#CartNote{
  display: none;
}
.show{display: block !important;}
.ajax-cart__empty-message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $ajax-cart-padding-vertical*2 0;
  opacity: 1;
  color: $black;
}

.ajax-cart__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ajax-cart__item {
  @include clearfix;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  margin: 25px 0;

  &:last-child {
    margin-bottom: 0;
  }

  &.is-being-removed {
    opacity: 0;
    transition: opacity $transition-duration-base $transition-timing-function-in;
  }
}

.ajax-cart__item-image {
  width: 175px;
  height: 175px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top center;
  }

  @include media-breakpoint-down('sm') {
    width: 150px;
  }
}

.ajax-cart__item-info {
  padding-left: 70px; // space product info from product image

  @include media-breakpoint-down('sm'){
    padding-left: 20px;
  }
}

.ajax-cart__item-header {
  @extend %h5;
  font-weight: bold;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.ajax-cart__item-price {
  float: right;
  padding-left: 5px;
}

.ajax-cart__item-title {
  margin-bottom: 10px;
}

.ajax-cart__item-options {
  @include list-unstyled;
}

.ajax-cart__item-qty {

}

.ajax-cart__item-remove {
  text-decoration: underline;
}

.ajax-cart__footer {

  .additional-checkout-button {
    width: 100%;
  }
}

.ajax-cart__footer-row {
  padding-top: $ajax-cart-padding-vertical / 2;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.ajax-cart__footer-row--limespot {
  .ls-recommendation-box {
    margin: 0;
    padding: 0;
  }

  .limespot-li-container {
    padding: 15px 20px;
  }

  .ls-link {
    text-decoration: none;
  }

  .limespot-message {
    text-align: left;
    padding-left: 50px;
    display: block !important;
  }

  .ls-add-to-cart {
    color: $white !important;
    padding: 0 20px !important;
    font-size: 15px;
    font-weight: $font-weight-bold;
    letter-spacing: 0.04px;
    border: 0 !important;
  }
  .ls-message-param {
    font-size: 18px;
  }

  .ls-message-param.money {
    font-weight: $font-weight-normal !important;
    font-size: 15px !important;
    color: $black !important;
  }

  .ls-add-to-cart-arrow {
    display: none;
  }

  .limespot-add-to-cart-container {
    margin: 0 0 0 50px !important;
  }
}

.ajax-cart-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-ajax-cart-backdrop;
  background-color: $ajax-cart-backdrop-color;
  opacity: 0;
  pointer-events: none;
  transition: all $transition-duration-slide $transition-timing-function-slide-out;

  &.is-visible {
    opacity: $ajax-cart-backdrop-opacity;
    pointer-events: auto;
    transition: all $transition-duration-slide $transition-timing-function-slide-in;
  }
}
