.tout {
  .tout__title {
    color: $black;

    @include media-breakpoint-down('sm') {
      font-size: 28px;
      padding: 0 20px;
    }
  }

  .tout__body {
    color: $gr6;

    @include media-breakpoint-down('sm') {
      padding: 0 20px;
    }
  }
}
